<ion-view view-title="Hazrrd">
<ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content scroll="false">
  <div class="row">
      <div class="col">
        <h4>Log In</h4>
     <form ng-submit="doLogin()">
      <div class="list">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
</div>
<p>
   <button class="button button-block button-positive" type="submit">Log in</button>
</p>
    </form>
      </div>
    </div>
<br />
    <div class="row">
      <div class="col">
      <h4>New User?</h4>
        <a class="button button-block button-calm" href="#">Sign Up</a>
      </div>
    </div>
  </ion-content>
</ion-view>
